
html {
    text-rendering: optimizeLegibility;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    background-color: #37474f;
}

body, html {
    height: 100%;
    position: relative;
}

#wrap {
    height: 100%;
}

.img-marg {
    margin-top: 2.5em;
}

@media #{$medium-only} {
    .img-marg {
        margin-top: 2em;
    }
}

.no-marg-bot {
    margin-bottom: 0;
}

.pad-bot {
    padding-bottom: 125px;
}

.pad-top {
    padding-top: 25px;
}

.row.hero {
    padding: 0 30px;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
}

.name {
    font-weight: 500;
}

.plug {
    z-index: 1;
}

@media #{$large-and-up} {
    #logo-container {
        padding-left: 15px;
    }
}

nav .brand-logo {
    font-weight: 700;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    color: #eceff1;
    @include transition(color .3s);
}

.nav-link:hover {
    color: #80cbc4;
    @include transition(color .3s);
}

nav ul li:hover {
    background-color: transparent;
}

li.user-welcome {
    padding: 0 15px;
}

span.username:hover {
    cursor: text;
}

.dropdown-content li.user:hover {
    background-color: transparent;
}

.dropdown-content li:hover,
.side-nav li:hover {
    background-color: #eceff1;
}

.side-nav a {
    color: #00897b;
}

.side-nav span {
    color: #455a64;
    padding: 0 15px;
}

.side-nav li.user:hover {
    background-color: transparent;
}

i.right {
    margin-left: 0;
}

nav .nav-wrapper {
    padding: 0 30px;
}

nav .nav-wrapper i {
  font-size: 1.5rem;
}

@media #{$medium-and-down} {
    nav .nav-wrapper i {
      font-size: 2rem;
    }
}

.btn:hover {
    @extend .z-depth-2;
}

.call {
    color: #455a64;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    margin-top: 2rem;
}
    .call:hover {
        color: #00897b;
    }

.call.main,
.go-home {
    margin-top: 1rem;
}

.create {
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
}

.or-login {
    margin-bottom: 0;
}

.btn-floating i {
    color: #455a64;
}
    .btn-floating i:hover {
        color: #00897b;
    }
.btn-floating i.social,
.btn-floating i.social:hover {
    color: #FFFFFF;
}

footer.page-footer {
    margin-top: 0;
}

footer.page-footer .footer-copyright {
    font-weight: 400;
    color: #455a64;
    background-color: rgba(0,0,0,0.04);
}

section {
    padding-top: 75px;
}

section.hero {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 75px;
}

@media #{$medium-and-down} {
    section, section.hero {
        padding-top: 34px;
    }
}

@media only screen and (max-width: 390px) {

    section.hero {
        padding-top: 15px;
    }
    .plug {
        font-size: 2.92rem;
        line-height: 3.212rem;
    }
}

.floating-absolute-right {
    position: absolute;
    right: 50px;
    bottom: -27.75px;
    z-index: 800;
    margin: 0;
}

@media #{$medium-and-down} {
    .floating-absolute-right {
        right: 35px;
    }
}

.create-button,
.login-button {
    width: 100%;
}

// Social Media Colors
//-----------------------------------------------

.fb-color,
.fb-color:hover {
    background-color: #3b5998;
}

.google-color,
.google-color:hover {
    background-color: #dd4b39;
}

// Modals
//-----------------------------------------------

.modal.game-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 0;
    max-height: 70%;
    width: 100%;
    margin: auto;
    overflow-y: visible;
    z-index: 1000;
    border-radius: 2px;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    will-change: top, opacity;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.you-win {
    position: relative;

}

.close-x {
    padding: 1rem 0;
}

.modal-img {
    width: 220px;
    position: absolute;
    top: 20%;
    left: 30%;
}

@media only screen and (max-width: 700px) {
    .modal-img {
        left: 20%;
    }
}

@media only screen and (max-width: 675px) {
    .modal-img {
        left: 15%;
    }
}

@media only screen and (max-width: 540px) {
    .modal-img {
        left: 5%;
    }
}


// Forms
//-----------------------------------------------

.required:after {
    content: ' *';
    color: #00bfa5;
}

// User Profile Page
//-----------------------------------------------

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 10px;
    right: 16px;
}

.collection .collection-item.avatar {
    height: auto;
}

.collection .collection-item.avatar .circle {
    height: auto;
}

.collection p {
    color: #757575;
}

.collection .collection-item.avatar .title {
    font-weight: 500;
}

.userAvatar {
    height: 50px;
    width: 50px;
    margin-top: 12.3px;
    border-radius: 50%;
}

#statsList input {
    height: 36px;
}

.list h4 {
    margin-top: 12.3px;
}

// Hero Graphics
//-----------------------------------------------

#main-splash {
    max-height: 80%;
}

#main-splash .ninja {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: -1;
}

@media #{$medium-and-down} {
    #main-splash .ninja {
        right: 30px;
    }
}

#main-splash .ninja-star {
    position: absolute;
    left: 225px;
    bottom: 130px;
    z-index: 0;
}

@media #{$medium-and-down} {
    #main-splash .ninja-star {
        left: 30px;
    }
}

.splash-tile-num {
    font-size: 1.68rem;
    line-height: 3.25rem;
    font-weight: 300;
}

.hero-tile-grid {
    width: 306px;
    height: 306px;
    box-sizing: border-box;
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: -1;
}

.hero-tile {
    opacity: .99;
    float: left;
    width: 100px;
    height: 100px;
    cursor: default;
    box-sizing: border-box;
    background-color: #455a64;
    color: #ffffff;
    margin: 1px;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    background-image:
        radial-gradient(
            circle at bottom right,
            #546e7a,
            #455a64
        );
}

.hero-tile#five {
    margin-left: 30px;
}

.hero-tile-large-grid {
    width: 408px;
    height: 408px;
    box-sizing: border-box;
    position: absolute;
    left: 305px;
    bottom: 100px;
    z-index: -2;
}

@media #{$medium-and-down} {
    .hero-tile-large-grid {
        left: 55px;
    }
}

@media #{$small-and-down} {
    .hero-tile-large-grid {
        left: -200px;
    }
}

.hero-tile-large {
    opacity: .3;
    float: left;
    width: 100px;
    height: 100px;
    cursor: default;
    box-sizing: border-box;
    background-color: #455a64;
    color: #ffffff;
    margin: 1px;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    background-image:
        radial-gradient(
            circle at bottom right,
            #546e7a,
            #455a64
        );
}

.hero-tile-largest-grid {
    width: 510px;
    height: 510px;
    box-sizing: border-box;
    position: absolute;
    left: 750px;
    bottom: 75px;
    z-index: -3;
}

@media #{$medium-and-down} {
    .hero-tile-largest-grid {
        left: 500px;
    }
}

@media #{$small-and-down} {
    .hero-tile-largest-grid {
        left: 245px;
    }
}

.hero-tile-largest {
    opacity: .2;
    float: left;
    width: 100px;
    height: 100px;
    cursor: default;
    box-sizing: border-box;
    background-color: #455a64;
    color: #ffffff;
    margin: 1px;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    background-image:
        radial-gradient(
            circle at bottom right,
            #546e7a,
            #455a64
        );
}


// Game Styles
//-----------------------------------------------

.hidden {
    display: none;
}

#gameBoard {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: visible;
}

.blocks {
    cursor: default;
    box-sizing: border-box;
    background-color: #00bfa5;
    color: #ffffff;
    margin: 1px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    background-image:
        radial-gradient(
            circle at bottom right,
            #00bfa5,
            #009688
        );
}

.btn.menu {
    width: 100%;
}

.menu-header {
    margin-top: 0;
}

.btn.menu {
    margin-bottom: 1em;
}

.divider-game-top {
    height: 2px;
    overflow: hidden;
    background-color: #455a64;
}

.divider-game-middle {
    height: 1px;
    overflow: hidden;
    background-color: #455a64;
}

.size-btn {
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.menu-row {
    margin-bottom: 0;
}

@media #{$medium-and-down} {
    .container.game-container {
        width: 100%;
        padding-left: .75rem;
        padding-right: .75rem;
    }
}
