
html {
    background-image: url(../img/asfalt-dark-2.png);
}

body, html {
    height: 100%;
    position: relative;
}

#wrap {
    height: 100%;
}

html {
    text-rendering: optimizeLegibility;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    @extend .blue-grey, .darken-3;
}

.img-marg {
    margin-top: 2.5em;
}

@media #{$medium-only} {
    .img-marg {
        margin-top: 2em;
    }
}

.no-marg-bot {
    margin-bottom: 0;
}

.pad-bot {
    padding-bottom: 125px;
}

.row.hero {
    padding: 0 30px;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
}

.name {
    font-weight: 500;
}

.plug {
    z-index: 1;
}

@media #{$large-and-up} {
    #logo-container {
        padding-left: 15px;
    }
}

nav .brand-logo {
    font-weight: 700;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    color: #eceff1;
    @include transition(color .3s);
}

.nav-link:hover {
    color: #80cbc4;
    @include transition(color .3s);
}

nav ul li:hover {
    background-color: transparent;
}

li.user-welcome {
    padding: 0 15px;
}

span.username:hover {
    cursor: text;
}

.dropdown-content li.user:hover {
    background-color: transparent;
}

.dropdown-content li:hover,
.side-nav li:hover {
    background-color: #eceff1;
}

.side-nav a {
    color: #00897b;
}

.side-nav span {
    color: #455a64;
    padding: 0 15px;
}

.side-nav li.user:hover {
    background-color: transparent;
}

i.right {
    margin-left: 0;
}

nav .nav-wrapper {
    padding: 0 30px;
}

nav .nav-wrapper i {
  font-size: 1.5rem;
}

@media #{$medium-and-down} {
    nav .nav-wrapper i {
      font-size: 2rem;
    }
}

.btn:hover {
    @extend .z-depth-2;
}

.call {
    color: #455a64;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    margin-top: 2rem;
}
    .call:hover {
        color: #00897b;
    }

.call.main,
.go-home {
    margin-top: 1rem;
}

.create {
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
}

.or-login {
    margin-bottom: 0;
}

.btn-floating i {
    color: #455a64;
}
    .btn-floating i:hover {
        color: #00897b;
    }
.btn-floating i.social,
.btn-floating i.social:hover {
    color: #FFFFFF;
}

footer.page-footer {
    margin-top: 0;
}

footer.page-footer .footer-copyright {
    font-weight: 400;
    color: #455a64;
    background-color: rgba(0,0,0,0.04);
}

section {
    padding-top: 75px;
}

section.hero {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 75px;
}

@media #{$medium-and-down} {
    section, section.hero {
        padding-top: 34px;
    }
}

@media only screen and (max-width: 390px) {

    section.hero {
        padding-top: 15px;
    }
    .plug {
        font-size: 2.92rem;
        line-height: 3.212rem;
    }
}

#main-splash {
    max-height: 80%;
}

#main-splash .ninja {
    position: absolute;
    width: 420px;
    height: 274px;
    left: 30px;
    bottom: 95px;
    background-image: url(../img/ninja.png);
    z-index: -5;
}

.floating-absolute-right {
    position: absolute;
    right: 50px;
    bottom: -27.75px;
    z-index: 800;
    margin: 0;
}

@media #{$medium-and-down} {
    .floating-absolute-right {
        right: 35px;
    }
}

// Social Media Colors
//-----------------------------------------------

.fb-color,
.fb-color:hover {
    background-color: #3b5998;
}

.google-color,
.google-color:hover {
    background-color: #dd4b39;
}


// Modals
//-----------------------------------------------

.modal.login {
    width: 85%;
}

@media #{$medium-and-up} {
    .modal.login {
        width: 60%;
    }
}

@media #{$large-and-up} {
    .modal.login {
        width: 35%;
    }
}

.modal-button {
    width: 100%;
}

// Forms
//-----------------------------------------------

.required:after {
    content: ' *';
    color: #00bfa5;
}
